body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:  1.25rem;
  line-height: 1.75;
  color: #29384E;
  }

h1,
h2,
h3{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color:#F15B3E;
  }

h2 a,
h3 a {
  color:#F15B3E;
}
h2 {
  margin-top: 1.4375rem;
  margin-bottom: 1rem;
}
h3.line{
  border-top: solid 1px #fff;
}

p {
  margin-bottom: 1rem;
}

ul, li {
  padding: 0;
  }
ul:not([class]) {
  list-style: none;
  }
ul:not([class]) li:not([class])::before {
  content: "\2022 ";
  color: #F15B3E;
  margin-right: 0.625rem;
  }

.colored{
  color:#F15B3E;
  font-weight: 400;
}
.left{
  float: left;
  text-align: left;
}
.light{
  color: #fff;
}

.upper{
  text-transform: uppercase;
}

a.link{
  color: #212529;
  text-decoration: underline;
}

.link.colored{
  color:#F15B3E;
}

.light a.link{
  color: #fff;
}

.btn-primary{
  background-color: #F15B3E;
  border: none;
  text-transform: uppercase;
  padding: 0.7em 1rem;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.btn-secondary{
  background-color: #fff;
  border: none;
  border-radius: 4rem;
  color: #F15B3E !important;
  padding: 0 0.7rem;
  font-weight: 700;
}
.btn-primary:hover{
  background-color: #F15B3E;
  opacity: 0.8;
}

nav.navbar{
  background-color: #2A394E;
}
  nav.navbar img{
    width: 15rem;
    z-index: 9999
  }

.navbar-nav {
  font-size: .9375rem;
  }
  .navbar-nav .nav-link {
    color: #fff;
   }
  .navbar-nav .active>.nav-link, 
  .navbar-nav .nav-link.active {
    color: #F15B3E;
    }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

@media (max-width: 990px) {
  .navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 281px;
    background-color: #F15B3E;
    z-index: 1;
    text-align: right;
    padding: .5rem 1rem;
  }
  .navbar-nav {
    font-size: 1.125em;
    text-align: center;
  }
  .navbar-nav .active>.nav-link, 
  .navbar-nav .nav-link.active {
    color: #2A394E;
  }
  .navbar-close-icon {
    color: #fff;
    font-size: 2rem;
  }
}

header.hero {
  position: relative;
  background: #343a40 url("../img/hero-bg.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 8rem;
  min-height: 25.5625rem;
  }
  header.hero nav.navbar {
    background-color: transparent;
    padding-bottom: 5rem; }
    header.hero h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
      color: #fff;
      }
  header.hero h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    }
  header.hero h5 {
    font-size: 1rem; 
    font-weight: 400;
    line-height: 2em;}
  @media (min-width: 768px) {
      header.hero h1 {
        font-size: 3rem; } }

/* Pages */

.content {
  padding: 3.1875rem 0;
  }


/* Homepage */

.location, .meetings {
  background-color: #F15B3E;
}
  .location *, .meetings *{
    color: #fff;
  }
  .location a, .meetings a{
    text-decoration:underline;
  }
  .location .fa, .meetings .fa{
    font-size: 1.5rem;
  }
  .location .btn, .meetings .btn {
    margin: 0 0.25rem;
  }
  .location .first, .meetings .first {
    border-right: solid 1px #f0f0f0;
  }
  .meetings .first {
    padding-right:40px;
  }
  .location .second p, .meetings .second p{
    font-size: 90%;
    }
    .location .second p.italic, .meetings .second p.italic{
      font-style: italic;
    }
  .location , .meetings  *{
    color: #fff;
  }
  .meetings .col-lg-6 {
    text-align:center;
  }
  .meetings .col-lg-6 h5 {
    text-align:center;
  }
  .meetings .col-lg-6 h6 {
    text-align:center;
    font-weight:normal;
  }
  @media (max-width: 1024px) {
      .location .first, .meetings .first {
        border-right: 0;
        padding-bottom: 2em;
        border-bottom: solid 1px #fff; } 
      .location .second .mt-5, .meetings .second .mt-5 {
        margin-top: 0 !important; } }
.scheduledates li {
  width:50%;
  text-align:center;
  float:left;
  display:inline;
}
.scheduledates li:last-child {
  width:100%;
}

.links{
  background-color: #ECEEF1;
}
  .links.small .container{
    width: 50vw;
  }
  @media (max-width: 768px) {
    .links.small .container{
      width: 100%;
    }
  }

.committee {
  background-color: #2A394D;
  color: #D8D8D8;
}
.committee + .committee .container {
  border-top: 1px solid;
}
.committee a {
  color: #D8D8D8;
}
  .committee h5{
    color: #fff;
  }

.commitee hr{
  color: #fff;
}
.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.testimonials {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .testimonials .testimonial-item {
    max-width: 8rem; }
    .testimonials .testimonial-item img {
      max-width: 8rem; }

.companies img {
  max-width: 12rem;
  max-height: 5rem;
  padding: 0.25em 0;
  width: 100%;
  height: 100%;
}
.e2ma_signup_form {
  text-align:left;
  margin-top:-20px !important;
}
.e2ma_signup_form_required_footnote {
  visibility:hidden;
}
.e2ma_signup_form_row {
  width:75%; 
  float:left; 
  display:inline;
}
.e2ma_signup_form input[type="text"], .e2ma_signup_form input[type="email"], .e2ma_signup_form textarea, .e2ma_signup_form select[multiple="multiple"]
{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: block;
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 50px !important;
  }
.e2ma_signup_form_button_row {
  width:20%; 
  float:left; 
  display:inline;
  margin:0px !important;
  margin-top:2px;
  margin-left:10px !important;
}
.e2ma_signup_form input[type="submit"], .e2ma_signup_form .e2ma_signup_form_button {
  background-color: #F15B3E;
  border: none;
  text-transform: uppercase;
  padding: 0.7em 1rem;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 0.2rem !important;
  width: 100%;
  line-height:1.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family:inherit;
  height:50px !important;
}
.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/footer.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

  footer.footer .social{
    color: #ECEEF1;
  }
.footer a {
  color: #ECEEF1;
}
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#architecture {
  text-align:center;
}

#architecture img{
  width:1000px;
  margin-top:80px;
}

.archbutton {
    border: 0;
    background-color: #fff;
}

@media (max-width: 728px) {
  #architecture img {
  width: 340px;
  margin-top: 30px;
  }
  .archsm {
    width:300px;
  }
}

/* Custom module style */

/* Colorways*/

.black-white {
  color: black;
  background-color: white;
}

.black-light-grey {
  color: black;
  background-color: #ECEEF1;
}


.block h4{
    color: #F15B3E;
    margin-top: 2.4375rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.white-red {
  color: white;
  background-color: #F15B3E;
}

.white-red a{
  color: white;
  text-decoration: underline;
}

.white-red a:hover{
  color: darkblue;
}

.white-blue{
  background-color: #2A394D;
  color: #D8D8D8;
}

.white-blue a{
  color: #D8D8D8;
}

.white-blue a:hover{
  text-decoration: underline;
}
/* Position */

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.semiwide{
  width: 50vw;
}

.block{
  width: 100%;
  padding-bottom: 20px;
}

.post-category h1{
  margin-top: 1.120em;
  font-weight:  500;
}

.block h3{
    color: black !important;
    margin-bottom: 3rem!important;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.imagegallery img {
  max-width: 12rem;
  max-height: 5rem;
  padding: 0.25em 0;
  width: 100%;
  height: 100%;
}

.modulecontainer ul li{
  width:50%;
  text-align:center;
  float:left;
  display:inline;
}
.modulecontainer ul li:last-child {
  width:100%;
}

.modulecontainer {
    padding-right: 40px;
    border-right: solid 1px #f0f0f0;
}

.modulecontainer.last {
    padding-right: 0px;
    border-right: none;
}


.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-gap: 30px;
}
.image-list .image  {
    border-radius: 100%;
    width: 133px;
    height: 133px;
    overflow: hidden;
    margin: 0 auto; }
/* Blog */

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-content: space-between;
  grid-gap: 30px;
  margin-top: 3rem;
}
.post-related {
  grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
}

.post {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid #A3AFBD;
  padding: 15px;
}
.post-list-item {
  border: none;
  padding: 0;
}
.post-list-item a {
  display: flex;
  flex-flow: column;
}
.post-list-item a:hover {
  text-decoration: none;
}
.post-list-item  .post-title {
  margin-top: 1.5rem;
}
.post-header {
    padding: 8px 0;
}
.post-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.post-author {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom:  0;
}
.post-image {
  order: -1;
}
.post-date {
    font-size: .875rem;
}
.post-action {
    margin: .5rem 0 2rem;
}
.post-action + * {
  margin-top: auto;
}
.post-tag {
  color: #BAC3CE;
  border: 1px solid #BAC3CE;
  height: 33px;
  line-height: 31px;
  border-radius: 15px;
  font-size: 0.875rem;
  display: inline-block;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .post {
    padding: 30px;
  }
  .post-list-item {
    padding: 0;
  }
}


.single-post,
.single-related {
  max-width: 945px;
  margin: 0 auto;
}

.post-img figcaption {
    font-style:  italic;
    font-size: .875rem;
    margin-top: 1.5rem;
}

aside blockquote {
  color: #F15B3E;
  font-size: 1.5rem;
  font-style:  italic;
}
blockquote {
  margin: 1rem 2.5rem;
  font-size: 1rem;
}

.single-post h2, 
.single-related h2,
.single-post h3 {
  color: #29384E;
  font-size: 1.5rem;
}

.single-related {
    margin-bottom: 3.1875rem;
    border-top: 1px solid #DADADA;
    margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    max-width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    max-width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    max-width: 20%;
    float: left; } }

.headshot-wrapper {
    border-radius: 100%;
    width: 133px;
    height: 133px;
    overflow: hidden;
    margin: 0 auto; }
  .headshot-wrapper .image-headshot {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0;
   }

.pagination{
  margin: 20px auto 20px auto;
}

.post-related img{
  height: 140px;
  width: 100%;
}

.post-img img{
  width: 100%;
}

.post img{
  height: 285px;
  width: 100%;
}

.post-featured-in{
  margin-top: 15px ;
}