body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

h3.line{
  border-top: solid 1px #fff;
}

.colored{
  color:#F15B3E;
  font-weight: 400;
}
.left{
  float: left;
  text-align: left;
}
.light{
  color: #fff;
}

.upper{
  text-transform: uppercase;
}

a.link{
  color: #212529;
  text-decoration: underline;
}

.link.colored{
  color:#F15B3E;
}

.light a.link{
  color: #fff;
}

.btn-primary{
  background-color: #F15B3E;
  border: none;
  text-transform: uppercase;
  padding: 0.7em 1rem;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.btn-secondary{
  background-color: #fff;
  border: none;
  border-radius: 4rem;
  color: #F15B3E !important;
  padding: 0 0.7rem;
  font-weight: 700;
}
.btn-primary:hover{
  background-color: #F15B3E;
  opacity: 0.8;
}

nav.navbar{
  background-color: transparent;
  padding-bottom: 5rem
}
  nav.navbar img{
    width: 15rem;
    z-index: 9999
  }


header.hero {
  position: relative;
  background-color: #343a40;
  background: url("../img/hero-bg.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 8rem; }
  header.hero h2 {
    font-size: 2rem; 
    font-weight: 400;}
  header.hero h5 {
    font-size: 1rem; 
    font-weight: 400;
    line-height: 2em;}
  @media (min-width: 768px) {
      header.hero h1 {
        font-size: 3rem; } }

.location{
  background-color: #F15B3E;
}
  .location *{
    color: #fff;
  }
  .location .fa{
    font-size: 1.5rem;
  }
  .location .btn{
    margin: 0 0.25rem;
  }
  .location .first{
    border-right: solid 1px #f0f0f0;
  }
  .location .second p{
    font-size: 90%;
    }
    .location .second p.italic{
      font-style: italic;
    }
  @media (max-width: 1024px) {
      .location .first {
        border-right: 0;
        padding-bottom: 2em;
        border-bottom: solid 1px #fff; } 
      .location .second .mt-5 {
        margin-top: 0 !important; } }

.links{
  background-color: #ECEEF1;
}
  .links.small .container{
    width: 50vw;
  }

.committee{
  background-color: #2A394D;
}
  .committee h5{
    color: #fff;
  }

.commitee hr{
  color: #fff;
}
.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.testimonials {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .testimonials .testimonial-item {
    max-width: 8rem; }
    .testimonials .testimonial-item img {
      max-width: 8rem; }

.companies img {
  max-width: 12rem;
  max-height: 5rem;
  padding: 0.25em 0;
  width: 100%;
  height: 100%;
}
.e2ma_signup_form {
  text-align:left;
  margin-top:-20px !important;
}
.e2ma_signup_form_required_footnote {
  visibility:hidden;
}
.e2ma_signup_form_row {
  width:75%; 
  float:left; 
  display:inline;
}
.e2ma_signup_form input[type="text"], .e2ma_signup_form input[type="email"], .e2ma_signup_form textarea, .e2ma_signup_form select[multiple="multiple"]
{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: block;
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 50px !important;
  }
.e2ma_signup_form_button_row {
  width:20%; 
  float:left; 
  display:inline;
  margin:0px !important;
  margin-top:2px;
  margin-left:10px !important;
}
.e2ma_signup_form input[type="submit"], .e2ma_signup_form .e2ma_signup_form_button {
  background-color: #F15B3E;
  border: none;
  text-transform: uppercase;
  padding: 0.7em 1rem;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 0.2rem !important;
  width: 100%;
  line-height:1.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family:inherit;
  height:50px !important;
}
.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/footer.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

  footer.footer .social{
    color: #ECEEF1;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#architecture {
  text-align:center;
}

#architecture img{
  width:1000px;
  margin-top:100px;
}

@media (max-width: 728px) {
  #architecture img {
  width: 340px;
  margin-top: 30px;
  }
  .archsm {
    width:300px;
  }
}
