/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";
@import "~buefy/src/scss/buefy";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/supporters";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/article";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/search";

.header-anchor {
  display: none;
}