// For sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#app {
  flex: 1;
}

ul.list-disc {
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 15px;
  li {
    list-style: disc;
  }
}
.is-green {
  color: $primary-blue;
}

.values {
  .article-small {
    img {
      max-width: 90px;
    }
  }
}

.use-case-wrapper {
  margin-top: 30px;
}

img.use-case-single-diagram {
  max-height: 330px;
}
