.container-supporter {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: -20px;
    margin-left: -20px;
}

.container-supporter-last {
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.content-supporter{
    padding: 20px;
    align-self: center;
    width: 215px;
}

.content-supporter-lt3 {
    padding: 20px;
    align-self: center;
    width: 285px;
}

.content-supporter-lt2 {
    padding: 20px;
    width: 300px;
    margin-right: -150px;

}

.container-center-sponsors .columns {
    flex-wrap: wrap;
}

.container-center-sponsors .columns .columns-sponsors {
    flex-basis: 25%;
    max-width: 25%;
    img {
        margin: 0 auto;
        display: block;
    }
}

.sponsor-meta-container > .sponsor-inner-container:first-child .columns-sponsors {
    flex-basis: 33%;
    max-width: 33%;
}

.sponsor-meta-container .columns.columns-Platinum {
    img {
        max-width: 188px;
    }
}

.sponsor-meta-container .columns.columns-Gold {
    img {
        max-width: 160px;
    }
}

.sponsor-meta-container .columns.columns-Silver {
    img {
        max-width: 145px;
    }
}