/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	.form-title {
		margin-bottom: 22px;
		text-transform: uppercase;
	}

	.form-body {
		margin-bottom: 30px;
	}
}
