{% load static %}
{% load add_active from custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110599884-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110599884-1');
        </script>
        <script src="{% static 'katacontainers/vendor/jquery/jquery.min.js' %}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Kata Containers is an open source project building extremely lightweight virtual machines that seamlessly plug into the containers ecosystem.">
        <title>Kata Containers - The speed of containers, the security of VMs</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i" rel="stylesheet">
        <link href="{% static 'katacontainers/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'katacontainers/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'katacontainers/css/main.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'katacontainers/favicon.ico' %}"/>
        <script>
        function on() {
        document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
        </script>
    {% endblock%}
    {% block extrahead %}
    {% endblock %}
</head>

<body>


    {% block content %}
            {% block navbar %}
                    <nav class="navbar navbar-expand-lg">
                        <div class="container">
                            <a class="navbar-brand" href="/"><img src="{% static 'katacontainers/img/logo.svg' %}" alt=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <ul class="navbar-nav">
                                {% for page in header_menus %}
                                    {% if page.page.public or request.user.is_staff %}
                                        {% if page.target_type == 'page' %}
                                            <li class='nav-item {% add_active request page.page.slug %}'>
                                                <a class="nav-link" href="{{ page.page.get_absolute_url }}">{{ page.display_name }}</a>
                                            {% else %}
                                            <li>
                                                <a href="{{ page.url }}">{{ page.display_name }}</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </nav>
            {% endblock %}
    {% endblock %}

    {% block footer %}
        <footer class="footer call-to-action text-white ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-3 text-center">
                             {% block socialmediamenus %}
                             {% endblock %}
                        </ul>
                    </div>
                    <div class="col-lg-6 mt-3 mb-5 h-100 text-center text-lg-center mx-auto">
                        <p class="text-muted small mb-lg-0">© 2017 Kata Containers | Documentation Distributed under CC BY 4.0</p>
                        <p class="text-muted small mb-4 mb-lg-0">Copyright © 2017 <a href="https://openstack.org/foundation">The OpenStack Foundation</a>®. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    {% block extrafooter %}
        <div id="overlay" onclick="off()">
            <div id="architecture">
                <img src="{% static 'katacontainers/img/kata-explained1@2x.png' %}" alt="data" class="data">
            </div>
        </div>
        <script src="{% static 'katacontainers/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    {% endblock %}
</body>
</html>