{% extends 'index.html' %}
{% load get_post_back_links get_recent_posts from custom_tags %}
{% block content %}
    {% block navbar %}
        {{ block.super }}
    {% endblock %}
    <main>
        <div class="container">
            <article class="single-post">
                {% autoescape off %}
                    <div class="post-featured-in">
                        Featured in {% get_post_back_links post %}
                    </div>
                {% endautoescape %}
                <header class="text-center">
                  <h1>{{ post.title }}</h1>
                  <p class="post-author">By: {{ post.author }}</p>
                  <p class="post-date"><time datetime="{{ post.date }}">{{ post.date | date:'F j, Y' }}</time></p>
                </header>
                <figure class="post-img">
                  <img src="{{ post.image.url }}" alt="">
{#                  <figcaption>Photo credit: John Photographer</figcaption>#}
                </figure>
                {{ post.content | safe }}

{#                <footer>#}
{#                  <p>#}
{#                    <a href="" class="post-tag">Tag 1</a>#}
{#                    <a href="" class="post-tag">Tag 2</a>#}
{#                    <a href="" class="post-tag">Tag 3</a>#}
{#                    <a href="" class="post-tag">Tag 4</a>#}
{#                    <a href="" class="post-tag">Tag 5</a>#}
{#                  </p>#}
{#                </footer>#}
            </article>

            {% get_recent_posts post as recentposts %}
                {% if recentposts %}
                    <aside class="single-related">
                      <h2>Recent posts</h2>
                      <div class="post-list post-related">
                        {% for recentpost in recentposts %}
                            <article>
                              <img src="{{ recentpost.image.url }}" alt="">
                              <h2>{{ recentpost.title }}</h2>
                              <p class="post-date"><time datetime="{{ recentpost.date }}">{{ recentpost.date | date:'F j, Y' }}</time></p>
                              <p><a href="{{ recentpost.get_absolute_url }}" class="btn-primary">Read more <span class="sr-only">on Recent {{ recentpost.title }}</span></a></p>
                            </article>
                        {% endfor %}
                      </div>
                    </aside>
                {% endif %}
        </div>
    </main>
{% endblock %}
