{% extends 'index.html' %}
{% load get_post_back_links get_recent_posts from custom_tags %}
{% block content %}
    {% block navbar %}
        {{ block.super }}
    {% endblock %}
    <main>
        <div class="container">
            <article class="single-post">
                {% autoescape off %}
                    <div class="post-featured-in">
                        Featured in {% get_post_back_links post %}
                    </div>
                {% endautoescape %}
                <header class="text-center">
                  <h1>{{ post.title }}</h1>
                  <p class="post-author">By: {{ post.author }}</p>
                  <p class="post-date text-muted"><time datetime="{{ post.date }}">{{ post.date | date:'F j, Y' }}</time></p>
                </header>
                <figure class="post-image text-center">
                  <img src="{{ post.image.url }}" alt="">
{#                  <figcaption class="text-muted"  >Photo credit: John Photographer</figcaption>#}
                </figure>
                {{ post.content | safe }}

{#                <footer>#}
{#                  <p>#}
{#                    <a href="" class="post-tag">Tag 1</a>#}
{#                    <a href="" class="post-tag">Tag 2</a>#}
{#                    <a href="" class="post-tag">Tag 3</a>#}
{#                    <a href="" class="post-tag">Tag 4</a>#}
{#                    <a href="" class="post-tag">Tag 5</a>#}
{#                  </p>#}
{#                </footer>#}
            </article>

{#            {% get_recent_posts post request as recentposts %}#}
            {% get_recent_posts post as recentposts %}
                {% if recentposts %}
                    <aside class="single-related text-center">
                      <h2 id="related_post_title">Recent posts</h2>
                        <ul class="post-list post-related" aria-labelledby="related_post_title">
                            {% for recentpost in recentposts %}
                                <li class="post post-list-item">
                                    <h3 class="post-title">{{ recentpost.title }}</h3>
                                    <p class="post-date text-muted"><time datetime="{{ recentpost.date }}">{{ recentpost.date | date:'F j, Y' }}</time></p>
                                    <img class="post-image" src="{{ recentpost.image.url }}" alt="">
                                    <p><a href="{{ recentpost.get_absolute_url }}" class="btn-primary">Read more <span class="sr-only">on Recent {{ recentpost.title }}</span></a></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                {% endif %}
        </div>
    </main>
{% endblock %}
